body{ background-color: rgb(163, 163, 172);       }
h1{font-size: 60px; color: indigo;}
h2{font-size: 60px;color: red;}    
    .big{color:turquoise}
    .uppercase{text-transform: uppercase;}
    .big.uppercase{font-family: sans-serif;}
    h1 span{color:violet}